<nav class="navbar navbar-dark bg-dark">
    <a href="/movies/list" class="navbar-brand">Lista</a>
    <a href="/movies/index" class="navbar-brand">Index</a>
    <a href="/movies/create" class="navbar-brand">Agregar</a>
</nav>