<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
</head>
<body>
    <div class="container">
  <nav class="navbar navbar-dark bg-primary mt-5 mb-3">
    <div class="container">
     <a href="/movies/list" class="navbar-brand">Lista</a>
     <a href="/" class="navbar-brand">Inicio</a>
     <a href="/movies/create" class="navbar-brand">Agregar</a>
   </div>
</nav>

    <h1><%= actor.first_name %> <%= actor.last_name %> </h1>

    <h4>Peliculas</h4>
      <ul>
        <% actor.peliculas.forEach(pelicula => { %>
         <li><a href=""><%= pelicula.title %> </a> </li>
        <% }) %>
      </ul>
  
    </div>
</body>
</html>